nav {
    background-image:  url('camo.jpg');
    margin-bottom: 36px;
}

.navbar-brand {
    color: rgb(43, 35, 35);
    font-size: 72px;
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-image {
    margin:  16px;
}

.nav-link {
    color:  gold;
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-link:hover {
    color:  rgb(43, 35, 35);
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.home-background {
    background-image:  url('military_base.jpg');
    background-attachment: fixed;
    background-position: center;
}

.login-background {
    background-image:  url('operation.jpg');
    background-attachment: fixed;
    background-position: center;
}

.portfolio-background {
    background-image:  url('battlefield.jpg');
    background-attachment: fixed;
    background-position: center;
}

.logout-background {
    background-image:  url('hangar.jpg');
    background-attachment:  fixed;
    background-position:  center;
}

.container {
    color:  rgb(228, 180, 135);
    border:  solid;
    background-color:  rgb(10, 80, 10);
    border-color:  rgb(43, 35, 35);
    border-width:  6px;
    margin-bottom:  36px;
    padding:  8px;
    /*overflow:  auto;*/
}

.query-table {
    border:  solid;
    border-width:  2px;
    border-color:  gold;
    color:  gold;
    background-color: rgb(43, 35, 35);
    margin:  auto;
    margin-bottom:  24px;
}

th, td {
    border:  solid;
    border-width:  2px;
    border-color:  gold;
    padding:  3px;
}

.btn-warning {
    color:  rgb(43, 35, 35);
    background-color:  gold;
    border-color:  gold;
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top:  16px;
}

.btn-warning:hover {
    color:  gold;
    background-color:  rgb(43, 35, 35);
    border-color:  rgb(43, 35, 35);
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
