{% extends 'home.html' %}

{% block content %}

<div class="container">
    <h3 class="header">Orientation</h3>
    <p>Atten-chun!  Welcome to the frontline, soldier.  We at the UBF (or the "United Banking Federation") are happy to 
        recruit you.
    </p>

    <h3 class="header">Purpose</h3>
    <p>General Banks is an app designed to help soldiers like you keep their finances in order.  You can track your 
        stocks, make investments, and send transactions, all from the comfort of whatever base you're stationed at.  
        As all properly trained soldiers know, preparation and discipline are key to winning any battle.
    </p>

    <h3 class="header">Mission Debriefing</h3>
    <p>One of the United Banking Federation's five military branches, the UBF army understands that saving money is 
        a war that you must fight for the rest of your life, so the men and women who proudly serve the UBF are willing 
        to make the ultimate sacrifice to protect our country from bankruptcy, money theft, loss of stock, and all 
        other financial threats.  General Banks will lead you and your fellow comrades to victory.  We salute you, 
        soldier.
    </p>
</div>

{% endblock %}