{% extends 'base.html' %}

{% block details %}

{% for  in %}

{% endfor %}

{% comment trade %} use this subdirectory to buy or sell stock {% endcomment %}

    <div class="container">
        <p>Your objective lies just ahead, soldier.  No point in turning back now.</p>
        <div class="row">
            <div class="col-3">
                <div class="nav-item">
                    <a class="btn btn-warning login-btn" href="{% url 'buy' %}" role="button">Join the battle</a>
                </div>
            </div>
            <div class="col-3">
                <div class="nav-item">
                    <a class="btn btn-warning login-btn" href="{% url 'sell' %}" role="button">Join the battle</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <p>Seriously!?  You're going AWOL, soldier!?  That's a violation of a direct order!</p>
        <div class="nav-item text-center">
            <a class="btn btn-warning login-btn" href="{% url 'buy' %}" role="button">Abandon your objective</a>
        </div>
    </div>

{% endblock %}