{% load static %}

<DOCTYPE html>

<html lang="en">

    <head>

        <title>General Banks</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">

        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <link rel="stylesheet" href="{% static './css/template.css' %}">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    </head>

    <body class="portfolio-background">
      
        {% comment %} navbar {% endcomment %}

        {% include 'navbar.html' %}

        {% comment %} url paths {% endcomment %}

        <div class="container">
            <ul>
                <li><a class="nav-link" href="{% url 'logout' %}">Exit the battlefield (Logout)</a></li>
                <li><a class="nav-link" aria-disabled="true">Talk to command (Contact)</a></li>
                <li><a class="nav-link" aria-disabled="true">Change your combat gear (Settings)</a></li>
                <p>My bank account is {{amount}}!<p>
            </ul>
        </div>

        {% comment %} audio controls {% endcomment %}

       <div class="container text-center">
            <audio controls autoplay loop>
                <source src="{% static './audio/military-power-strong-action-trailer-for-war-film-intro-opener-212027.mp3' %}" type="audio/mpeg">
            </audio>
        </div>

        {% comment %} header {% endcomment %}

        <div class="container text-center">
            <div class="row">
                <div class="col-4">
                    <img src="{% static './images/army_squad6.jpg' %}" height="180" alt="portfolio squad">
                </div>
                <div class="col-4 my-auto">
                    <h1 class="header">PORTFOLIO</h1>
                </div>
                <div class="col-4">
                    <img src="{% static './images/army_squad6.jpg' %}" height="180" alt="portfolio squad">
                </div>
            </div>        
        </div>

        {% comment %} where the models are rendered {% endcomment %}

        <div class="container text-center">
            <h3 class="header">Objective Guide</h3>
            <p>Below are your mission objectives, soldier.  You may choose to do them any way you wish, as long as you 
                complete the mission.  Good luck out there on the battlefield.</p>
            <canvas id="stock" style="width:100%; max-width:600px; background-color:white; margin:auto"></canvas>        
            <table class="query-table" style="width:80%; margin-top:24px">
                <tr>
                    <th>ID</th>
                    <th>Company</th>
                    <th>Symbol</th>
                    <th>Quantity</th>
                    <th>Value</th>
                    <th>Current Balance</th>
                </tr>
                {% for s in stock %}
                    <tr>
                        <td>{{s.id}}</td>
                        <td>{{s.company}}</td>
                        <td>{{s.symbol}}</td>
                        <td>{{s.quantity}}</td>
                        <td>{{s.value}}</td>
                        <td>{{s.balance}}</td>
                    </tr>
                {% endfor %}
            </table>

            <p><em>{{update}}</em></p>

            <div class="container my-2" style="width:80%">
                <h3 class="header" style="margin-top:9px">Battlefield Mapstyles</h3>
                <img src="{% static './images/flag_24dp_FFD700_FILL0_wght400_GRAD0_opsz24.png' %}" style="background-color:rgb(43, 35, 35)">
                <div class="row">
                    <div class="col-6 offset-3" style="margin-top:28px">
                        <h1 class="battlefield-stock-counter-display">(..)</h1>
                        <h1 class="battlefield-quantity-counter">(..)</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <input type="button" class="btn btn-warning" value="- [Buy]" id="battlefield-stock-counter-buy">
                        <input type="button" class="btn btn-warning" value="+ [Sell]" id="battlefield-stock-counter-sell">
                    </div>
                </div>
            </div>

            <div class="container my-2" style="width:80%">
                <h3 class="header" style="margin-top:9px">Explosives-R-Us</h3>
                <img src="{% static './images/bomb_24dp_FFD700_FILL0_wght400_GRAD0_opsz24.png' %}" style="background-color:rgb(43, 35, 35)">
                <div class="row" style="margin-top:14px">
                    <div class="col-6 offset-3" style="margin-top:28px">
                        <h1 class="explosives-stock-counter-display">(..)</h1>
                        <h1 class="explosives-quantity-counter">(..)</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <input type="button" class="btn btn-warning" value="- [Buy]" id="explosives-stock-counter-buy">
                        <input type="button" class="btn btn-warning" value="+ [Sell]" id="explosives-stock-counter-sell">
                    </div>
                </div>
            </div>

            <div class="container my-2" style="width:80%">
                <h3 class="header" style="margin-top:9px">Guns & Ammo</h3>
                <img src="{% static './images/add_box_24dp_FFD700_FILL0_wght400_GRAD0_opsz24.png' %}" style="background-color:rgb(43, 35, 35)">
                <div class="row">
                    <div class="col-6 offset-3" style="margin-top:28px">
                        <h1 class="guns-stock-counter-display">(..)</h1>
                        <h1 class="guns-quantity-counter">(..)</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <input type="button" class="btn btn-warning" value="- [Buy]" id="guns-stock-counter-buy">
                        <input type="button" class="btn btn-warning" value="+ [Sell]" id="guns-stock-counter-sell">
                    </div>
                </div>
            </div>

            <div class="container my-2" style="width:80%">
                <h3 class="header" style="margin-top:9px">Oscar Mike Combat Wear</h3>
                <img src="{% static './images/apparel_24dp_FFD700_FILL0_wght400_GRAD0_opsz24.png' %}" style="background-color:rgb(43, 35, 35)">
                <div class="row">
                    <div class="col-6 offset-3" style="margin-top:28px">
                        <h1 class="oscar-stock-counter-display">(..)</h1>
                        <h1 class="oscar-quantity-counter">(..)</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <input type="button" class="btn btn-warning" value="- [Buy]" id="oscar-stock-counter-buy">
                        <input type="button" class="btn btn-warning" value="+ [Sell]" id="oscar-stock-counter-sell">
                    </div>
                </div>
            </div>

            <div class="container my-2" style="width:80%">
                <h3 class="header" style="margin-top:9px">Transports: Land, Sea, Air</h3>
                <img src="{% static './images/departure_board_24dp_FFD700_FILL0_wght400_GRAD0_opsz24.png' %}" style="background-color:rgb(43, 35, 35)">
                <div class="row">
                    <div class="col-6 offset-3" style="margin-top:28px">
                        <h1 class="transports-stock-counter-display">(..)</h1>
                        <h1 class="transports-quantity-counter">(..)</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <input type="button" class="btn btn-warning" value="- [Buy]" id="transports-stock-counter-buy">
                        <input type="button" class="btn btn-warning" value="+ [Sell]" id="transports-stock-counter-sell">
                    </div>
                </div>
            </div>
        </div>

        {% comment %} footer {% endcomment %}

        <div class="container">
            <p>Is this war too much for you, soldier?  Well, if you're thinking about going AWOL, then that's understandable.  
               War is not for everybody.  Meanwhile, the United Banking Federation appreciates your service.  Click on the 
               button below to delete your account.</p>
            <div class="nav-item">
                <a class="btn btn-warning">Drop out of the war</a>
            </div>
        </div>
                
        {% include 'footer.html' %}

        <script src="{% static './js/chart.js' %}"></script>
        
    </body>

</html>
