{% extends 'base.html' %}

{% block content %}

    <form action="/stock/" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
        <button type="submit" class="btn btn-warning">Confirm your sale</button>
    </form>

    <div class="container">
        <p>Where are you going, soldier?  Did you finish your objective?</p>
        <div class="nav-item">
            <a class="btn btn-warning" href="{% url 'portfolio' %}">Complete your objective</a>
        </div>
    </div>

{% endblock %}